.vs
CharacterWithLongestConsecutiveRepetition.BL/obj
CharacterWithLongestConsecutiveRepetition.BL/bin
CharacterWithLongestConsecutiveRepetition.Test/obj
CharacterWithLongestConsecutiveRepetition.Test/bin
